.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title{
  color: red;
  text-align: center;
  width: 100%;
}

#left{
  flex-basis: 50%;
}
li:hover{
  cursor: pointer;
}